USE [master]
GO
/****** Object:  Database [EPOS-DB]    Script Date: 14/06/2022 7:05:40 pm ******/
CREATE DATABASE [EPOS-DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EPOS-DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\EPOS-DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EPOS-DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\EPOS-DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EPOS-DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EPOS-DB]
GO
/****** Object:  User [EzyposAdmin]    Script Date: 14/06/2022 7:05:41 pm ******/
CREATE USER [EzyposAdmin] FOR LOGIN [EzyposAdmin] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 14/06/2022 7:05:41 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 14/06/2022 7:05:41 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AccountName] [nvarchar](max) NULL,
	[Type] [nvarchar](50) NULL,
	[Isdeleted] [bit] NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdvancedSalary]    Script Date: 14/06/2022 7:05:41 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdvancedSalary](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NULL,
	[PayedBy] [int] NULL,
	[Date] [date] NULL,
	[Month] [int] NULL,
	[Amount] [decimal](18, 3) NULL,
	[IsAdvance] [bit] NULL,
 CONSTRAINT [PK_AdvancedSalary] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppPages]    Script Date: 14/06/2022 7:05:41 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppPages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PageName] [nvarchar](max) NULL,
	[Isdeleted] [bit] NULL,
	[ParentId] [int] NULL,
	[ListingOrder] [int] NULL,
 CONSTRAINT [PK_AppPages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CashBookLead]    Script Date: 14/06/2022 7:05:41 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CashBookLead](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Transaction_Id] [bigint] NULL,
	[Transaction_date] [date] NULL,
	[Transaction_type] [nvarchar](50) NULL,
	[Transaction_detail] [nvarchar](max) NULL,
	[CashBook_Id] [bigint] NULL,
	[DR_Amt] [decimal](18, 3) NULL,
	[CR_Amt] [decimal](18, 3) NULL,
	[User_Id] [bigint] NULL,
	[POS_Id] [bigint] NULL,
	[Is_Deleted] [bit] NULL,
 CONSTRAINT [PK_CashBookLead] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CashSummary]    Script Date: 14/06/2022 7:05:41 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CashSummary](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[StartAmount] [decimal](18, 3) NULL,
	[EndAmount] [decimal](18, 3) NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[IsActive] [bit] NULL,
	[StartedBy] [nvarchar](100) NULL,
	[EndedBy] [nvarchar](100) NULL,
	[POSId] [nvarchar](50) NULL,
 CONSTRAINT [PK_CashSummary] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City]    Script Date: 14/06/2022 7:05:41 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [nvarchar](max) NULL,
	[Createdon] [datetime] NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 14/06/2022 7:05:41 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[PhoneNo] [nvarchar](max) NULL,
	[Adress] [nvarchar](max) NULL,
	[City] [int] NULL,
	[MobileNo] [nvarchar](max) NULL,
	[Createdon] [datetime] NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerDRNote]    Script Date: 14/06/2022 7:05:41 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerDRNote](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Discription] [nvarchar](100) NULL,
	[ReceiptAmount] [decimal](18, 3) NULL,
	[TransactionDate] [date] NOT NULL,
	[CreatedOn] [date] NULL,
	[CustomerId] [int] NOT NULL,
	[ReceivedBy] [int] NOT NULL,
	[UserId] [int] NULL,
 CONSTRAINT [PK_CustomerCRNote] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerLead]    Script Date: 14/06/2022 7:05:41 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerLead](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Customer_id] [int] NULL,
	[Transaction_date] [date] NULL,
	[Transaction_id] [int] NULL,
	[Transaction_type] [nvarchar](50) NULL,
	[Transaction_detail] [nvarchar](max) NULL,
	[DR] [decimal](18, 3) NULL,
	[CR] [decimal](18, 3) NULL,
	[Is_Deleted] [bit] NULL,
 CONSTRAINT [PK_CustomerLead] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerReceipt]    Script Date: 14/06/2022 7:05:41 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerReceipt](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Discription] [nvarchar](max) NULL,
	[ReceiptAmount] [decimal](18, 3) NULL,
	[TransactionDate] [date] NOT NULL,
	[CreatedOn] [date] NULL,
	[CustomerId] [int] NULL,
	[EmployeeId] [int] NULL,
	[UserId] [int] NULL,
 CONSTRAINT [PK_CustomerReceipt] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Emplyee]    Script Date: 14/06/2022 7:05:41 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Emplyee](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](100) NULL,
	[Role] [int] NULL,
	[City] [int] NULL,
	[CNIC] [nvarchar](max) NULL,
	[Adress] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Isdeleted] [bit] NULL,
	[Createdon] [date] NULL,
	[Password] [nvarchar](max) NULL,
	[IsLoginAllowed] [bit] NULL,
	[Salary] [decimal](18, 3) NULL,
	[SalaryType] [nvarchar](50) NULL,
	[Working Hours] [decimal](18, 3) NULL,
	[Image] [nvarchar](max) NULL,
	[LoginName] [nvarchar](500) NULL,
 CONSTRAINT [PK_Emplyee] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExpenceTransaction]    Script Date: 14/06/2022 7:05:41 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExpenceTransaction](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ExpenceDate] [date] NULL,
	[EmployeeId] [int] NULL,
	[CreatedBy] [int] NULL,
	[Discription] [nvarchar](max) NULL,
	[Amount] [decimal](18, 3) NULL,
	[Isdeleted] [bit] NULL,
	[ExpenceType] [int] NULL,
 CONSTRAINT [PK_ExpenceTransaction] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExpenceType]    Script Date: 14/06/2022 7:05:41 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExpenceType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ExpenceName] [nvarchar](max) NULL,
	[Isdeleted] [bit] NULL,
	[Createdon] [datetime] NULL,
 CONSTRAINT [PK_ExpenceType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pages]    Script Date: 14/06/2022 7:05:41 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PageName] [nvarchar](max) NULL,
	[Tag] [nvarchar](max) NULL,
	[ClickEvent] [nvarchar](max) NULL,
	[Isclickable] [bit] NULL,
	[Template] [nvarchar](max) NULL,
	[ParentId] [int] NULL,
	[Name] [nvarchar](50) NULL,
	[Icon] [nvarchar](500) NULL,
 CONSTRAINT [PK_Pages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCategory]    Script Date: 14/06/2022 7:05:41 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Isdeleted] [bit] NULL,
	[Createdon] [datetime] NULL,
 CONSTRAINT [PK_ProductCategory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductGroup]    Script Date: 14/06/2022 7:05:41 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductGroup](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[GroupName] [nvarchar](max) NULL,
	[Isdeleted] [bit] NULL,
	[Createdon] [datetime] NULL,
 CONSTRAINT [PK_ProductGroup] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 14/06/2022 7:05:41 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](max) NULL,
	[Barcode] [nvarchar](max) NULL,
	[CategoryId] [int] NULL,
	[SubcategoryId] [int] NULL,
	[Isdeleted] [bit] NULL,
	[GroupId] [int] NULL,
	[ShelfId] [int] NULL,
	[RetailPrice] [decimal](18, 3) NOT NULL,
	[Wholesaleprice] [decimal](18, 3) NULL,
	[PurchasePrice] [decimal](18, 3) NOT NULL,
	[Lastupdated] [date] NULL,
	[Createdby] [int] NULL,
	[Createdon] [date] NULL,
	[Size] [decimal](18, 2) NULL,
	[Unit] [int] NULL,
	[TaxType] [nvarchar](50) NULL,
	[Tax] [decimal](18, 3) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductStock]    Script Date: 14/06/2022 7:05:41 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductStock](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[StartDate] [date] NOT NULL,
	[ExpiryDate] [date] NOT NULL,
	[Qty] [bigint] NOT NULL,
	[Adjustment] [int] NOT NULL,
	[Conversion] [int] NULL,
	[PurchaseOrderId] [int] NULL,
 CONSTRAINT [PK_ProductStock] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductSubcategory]    Script Date: 14/06/2022 7:05:41 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductSubcategory](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[SubcategoryName] [nvarchar](max) NULL,
	[CategoryId] [int] NULL,
	[Isdeleted] [bit] NULL,
	[Createdon] [datetime] NULL,
 CONSTRAINT [PK_ProductSubcategory] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Purchase_OrderDetail]    Script Date: 14/06/2022 7:05:41 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Purchase_OrderDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[itemName] [nvarchar](1000) NULL,
	[ProductId] [int] NOT NULL,
	[PurchasePrice] [decimal](18, 3) NOT NULL,
	[SalePrice] [decimal](18, 3) NULL,
	[Qty] [int] NOT NULL,
	[StockId] [int] NULL,
	[PurchaseOrderId] [int] NOT NULL,
	[ExpiryDate] [date] NULL,
	[StartDate] [date] NULL,
	[itemDiscount] [decimal](18, 3) NULL,
	[Total] [decimal](18, 3) NULL,
 CONSTRAINT [PK_Purchase_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseOrder]    Script Date: 14/06/2022 7:05:41 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseOrder](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SupplierId] [int] NOT NULL,
	[EmployeeId] [int] NULL,
	[UserId] [int] NULL,
	[Date] [date] NOT NULL,
	[PaymentStatus] [nvarchar](50) NULL,
	[PaymentMode] [nvarchar](50) NULL,
	[Discount] [decimal](18, 3) NULL,
	[DeliveryCharges] [decimal](18, 3) NULL,
	[TotalAmount] [decimal](18, 3) NULL,
 CONSTRAINT [PK_PurchaseOrder] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sale_OrderDetail]    Script Date: 14/06/2022 7:05:41 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sale_OrderDetail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[item_id] [int] NOT NULL,
	[item_name] [varchar](100) NOT NULL,
	[fixed_item_des] [varchar](255) NULL,
	[sub_cat_id] [int] NULL,
	[sub_cat_name] [varchar](255) NULL,
	[cat_name] [varchar](255) NULL,
	[print_sort] [int] NULL,
	[kitchen_lines] [int] NOT NULL,
	[item_comments] [varchar](255) NULL,
	[item_qty] [int] NOT NULL,
	[itemDiscount] [decimal](18, 3) NULL,
	[item_price] [decimal](18, 3) NULL,
	[PurchasePrice] [decimal](18, 3) NULL,
	[TaxType] [varchar](50) NULL,
	[ItemTax] [decimal](18, 3) NULL,
	[item_index] [int] NOT NULL,
	[bill_no] [int] NULL,
	[is_updated] [varchar](20) NOT NULL,
	[is_deleted] [bit] NOT NULL,
	[POSId] [nvarchar](50) NULL,
 CONSTRAINT [PK_Sale_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sale_Orders]    Script Date: 14/06/2022 7:05:41 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sale_Orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[restaurant_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[POSId] [nvarchar](50) NULL,
	[order_count] [int] NOT NULL,
	[total] [decimal](18, 3) NOT NULL,
	[date] [date] NOT NULL,
	[order_date] [date] NULL,
	[description] [text] NULL,
	[coupon] [varchar](80) NULL,
	[coupon_value] [varchar](255) NULL,
	[coupon_type] [varchar](255) NULL,
	[coupon_applies_to] [varchar](255) NULL,
	[coupon_categories] [varchar](255) NULL,
	[discount_amount] [decimal](18, 3) NULL,
	[discount_desc] [varchar](255) NULL,
	[payment_mode] [varchar](20) NOT NULL,
	[payment_status] [varchar](20) NOT NULL,
	[addby] [varchar](100) NOT NULL,
	[addon] [varchar](50) NOT NULL,
	[EmployeeId] [int] NULL,
	[customer_id] [int] NULL,
	[customer_phone] [nvarchar](50) NULL,
	[is_updated] [bit] NULL,
	[is_deleted] [bit] NULL,
	[TaxPercentage] [decimal](18, 3) NULL,
	[Tax] [decimal](18, 3) NULL,
	[Cash_Amount] [decimal](18, 3) NOT NULL,
	[Online_Amount] [decimal](18, 3) NOT NULL,
	[Is_Printed] [bit] NULL,
	[Service_Charge] [decimal](18, 3) NULL,
	[DeliveryCharges] [decimal](18, 3) NULL,
	[OrderStatus] [nvarchar](50) NULL,
	[ParentOrderId] [int] NULL,
 CONSTRAINT [PK_Sale_Orders] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Setting]    Script Date: 14/06/2022 7:05:41 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Setting](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[AppKey] [nvarchar](100) NULL,
	[AppValue] [nvarchar](500) NULL,
 CONSTRAINT [PK_Setting] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShopSetting]    Script Date: 14/06/2022 7:05:41 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShopSetting](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PIN] [int] NULL,
	[Shop_Id] [int] NULL,
	[Shop_Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_ShopSetting] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stock_OderDetail]    Script Date: 14/06/2022 7:05:41 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stock_OderDetail](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[StockId] [bigint] NOT NULL,
	[OrderDetail_Id] [int] NOT NULL,
	[Qty] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[OrderId] [int] NULL,
 CONSTRAINT [PK_Stock_OderDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockLead]    Script Date: 14/06/2022 7:05:41 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockLead](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Transaction_id] [bigint] NULL,
	[Transaction_date] [date] NULL,
	[Transaction_type] [nvarchar](50) NULL,
	[Transaction_detail] [nvarchar](max) NULL,
	[Product_id] [int] NOT NULL,
	[DR_qty] [numeric](18, 2) NULL,
	[CR_qty] [numeric](18, 2) NULL,
	[User_id] [bigint] NULL,
	[POS_id] [bigint] NULL,
	[PaymentMode] [nvarchar](50) NULL,
	[Is_Deleted] [bit] NULL,
 CONSTRAINT [PK_StockLead] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 14/06/2022 7:05:41 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[PhoneNo] [nvarchar](max) NULL,
	[Adress] [nvarchar](max) NULL,
	[City] [int] NULL,
	[MobileNo] [nvarchar](max) NULL,
	[Createdon] [datetime] NULL,
 CONSTRAINT [PK_Supplier] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupplierCRNote]    Script Date: 14/06/2022 7:05:41 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupplierCRNote](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Discription] [nvarchar](100) NULL,
	[ReceiptAmount] [decimal](18, 3) NULL,
	[TransactionDate] [date] NOT NULL,
	[CreatedOn] [date] NULL,
	[SupplierId] [int] NOT NULL,
	[PayedBy] [int] NOT NULL,
	[UserId] [int] NULL,
 CONSTRAINT [PK_SupplierCRNote] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupplierLead]    Script Date: 14/06/2022 7:05:41 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupplierLead](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Suplier_id] [int] NULL,
	[Transaction_id] [int] NULL,
	[Transaction_type] [nvarchar](50) NULL,
	[Transaction_det] [nvarchar](500) NULL,
	[DR] [decimal](18, 3) NULL,
	[CR] [decimal](18, 3) NULL,
	[Transaction_date] [date] NULL,
 CONSTRAINT [PK_SupplierLead] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupplierPayment]    Script Date: 14/06/2022 7:05:41 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupplierPayment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Amount] [decimal](18, 3) NULL,
	[Discription] [nvarchar](max) NULL,
	[TransactionDate] [date] NOT NULL,
	[CreatedOn] [date] NULL,
	[SupplierId] [int] NULL,
	[EmployeeId] [int] NULL,
	[UserId] [int] NULL,
 CONSTRAINT [PK_SupplierPayment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblShelf]    Script Date: 14/06/2022 7:05:41 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblShelf](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ShelfName] [varchar](100) NULL,
	[ShelfCode] [varchar](100) NULL,
 CONSTRAINT [PK_TblShelf] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Unit]    Script Date: 14/06/2022 7:05:41 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Unit](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Unit] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 14/06/2022 7:05:41 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[UserName] [varchar](500) NULL,
	[Password] [varchar](100) NULL,
	[UserRole] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserPages]    Script Date: 14/06/2022 7:05:41 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[PageId] [int] NULL,
 CONSTRAINT [PK_UserPages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 14/06/2022 7:05:41 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_UserRole] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CashBookLead] ON 

INSERT [dbo].[CashBookLead] ([Id], [Transaction_Id], [Transaction_date], [Transaction_type], [Transaction_detail], [CashBook_Id], [DR_Amt], [CR_Amt], [User_Id], [POS_Id], [Is_Deleted]) VALUES (6058, 5059, CAST(N'2022-03-24' AS Date), N'PurchaseInvoice', N'Cash Purchase Order No: 5059
Head & Shoulder 500 ml:  1 * 400.150 = 400.150
Total Amount: 400.150
', NULL, NULL, CAST(400.150 AS Decimal(18, 3)), NULL, NULL, NULL)
INSERT [dbo].[CashBookLead] ([Id], [Transaction_Id], [Transaction_date], [Transaction_type], [Transaction_detail], [CashBook_Id], [DR_Amt], [CR_Amt], [User_Id], [POS_Id], [Is_Deleted]) VALUES (6059, 5060, CAST(N'2022-03-26' AS Date), N'PurchaseInvoice', N'Cash Purchase Order No: 5060
Lux 250g:  2 * 80.100 = 160.200
Total Amount: 139.850
', NULL, NULL, CAST(139.850 AS Decimal(18, 3)), NULL, NULL, NULL)
INSERT [dbo].[CashBookLead] ([Id], [Transaction_Id], [Transaction_date], [Transaction_type], [Transaction_detail], [CashBook_Id], [DR_Amt], [CR_Amt], [User_Id], [POS_Id], [Is_Deleted]) VALUES (6060, 7123, CAST(N'2022-03-26' AS Date), N'SaleInvoice', N'Cash Sale Transaction against Invoice Number # 7123', NULL, CAST(105.000 AS Decimal(18, 3)), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[CashBookLead] OFF
GO
SET IDENTITY_INSERT [dbo].[CashSummary] ON 

INSERT [dbo].[CashSummary] ([id], [StartAmount], [EndAmount], [StartDate], [EndDate], [IsActive], [StartedBy], [EndedBy], [POSId]) VALUES (7, CAST(1000.000 AS Decimal(18, 3)), CAST(1200.000 AS Decimal(18, 3)), CAST(N'2022-06-11T14:21:54.473' AS DateTime), CAST(N'2022-06-11T14:22:18.317' AS DateTime), 0, N'sikandar 12', N'sikandar 12', N'POS1')
INSERT [dbo].[CashSummary] ([id], [StartAmount], [EndAmount], [StartDate], [EndDate], [IsActive], [StartedBy], [EndedBy], [POSId]) VALUES (8, CAST(10000.000 AS Decimal(18, 3)), CAST(10001.000 AS Decimal(18, 3)), CAST(N'2022-06-11T14:24:25.530' AS DateTime), CAST(N'2022-06-11T14:24:41.507' AS DateTime), 0, N'sikandar 12', N'sikandar 12', N'POS1')
INSERT [dbo].[CashSummary] ([id], [StartAmount], [EndAmount], [StartDate], [EndDate], [IsActive], [StartedBy], [EndedBy], [POSId]) VALUES (9, CAST(10700.000 AS Decimal(18, 3)), CAST(144680.000 AS Decimal(18, 3)), CAST(N'2022-06-14T10:50:32.560' AS DateTime), CAST(N'2022-06-14T10:52:07.620' AS DateTime), 0, N'sikandar 12', N'sikandar 12', N'POS1')
SET IDENTITY_INSERT [dbo].[CashSummary] OFF
GO
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([Id], [CityName], [Createdon]) VALUES (4150, N'Sargodha', CAST(N'2022-02-25T00:00:00.000' AS DateTime))
INSERT [dbo].[City] ([Id], [CityName], [Createdon]) VALUES (4151, N'lahore', CAST(N'2022-02-25T12:59:16.303' AS DateTime))
INSERT [dbo].[City] ([Id], [CityName], [Createdon]) VALUES (4152, N'Khushab', CAST(N'2022-02-26T18:30:36.953' AS DateTime))
SET IDENTITY_INSERT [dbo].[City] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([Id], [Name], [PhoneNo], [Adress], [City], [MobileNo], [Createdon]) VALUES (5022, N'walking customer', N'0300', N'sargodha ', 4150, N'0345', CAST(N'2022-02-25T12:59:58.153' AS DateTime))
INSERT [dbo].[Customer] ([Id], [Name], [PhoneNo], [Adress], [City], [MobileNo], [Createdon]) VALUES (5026, N'check', N'0302', N'sarg', 4151, N'0331', CAST(N'2022-04-09T23:02:37.587' AS DateTime))
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[CustomerLead] ON 

INSERT [dbo].[CustomerLead] ([Id], [Customer_id], [Transaction_date], [Transaction_id], [Transaction_type], [Transaction_detail], [DR], [CR], [Is_Deleted]) VALUES (8095, 5022, CAST(N'2022-03-26' AS Date), 7123, N'SaleInvoice', N'Sale Transaction against Invoice Number # 7123', CAST(105.000 AS Decimal(18, 3)), NULL, NULL)
INSERT [dbo].[CustomerLead] ([Id], [Customer_id], [Transaction_date], [Transaction_id], [Transaction_type], [Transaction_detail], [DR], [CR], [Is_Deleted]) VALUES (8096, 5022, CAST(N'2022-03-26' AS Date), 7123, N'SaleInvoice', N'Cash Sale Transaction against Invoice Number # 7123', NULL, CAST(105.000 AS Decimal(18, 3)), NULL)
INSERT [dbo].[CustomerLead] ([Id], [Customer_id], [Transaction_date], [Transaction_id], [Transaction_type], [Transaction_detail], [DR], [CR], [Is_Deleted]) VALUES (8097, 5022, CAST(N'2022-03-26' AS Date), 7124, N'SaleInvoice', N'Sale Transaction against Invoice Number # 7124', CAST(510.000 AS Decimal(18, 3)), NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[CustomerLead] OFF
GO
SET IDENTITY_INSERT [dbo].[Emplyee] ON 

INSERT [dbo].[Emplyee] ([Id], [UserName], [Role], [City], [CNIC], [Adress], [Phone], [Isdeleted], [Createdon], [Password], [IsLoginAllowed], [Salary], [SalaryType], [Working Hours], [Image], [LoginName]) VALUES (2011, N'sikandar 12', 1, 4150, N'3840312', N'sargodha 12', N'030212', NULL, CAST(N'2022-03-08' AS Date), N'4420', 1, CAST(30000.120 AS Decimal(18, 3)), N'Hourly', CAST(5.120 AS Decimal(18, 3)), N'file:///G:/EZYPOS/EZYPOS/EZYPOS/bin/Debug/net5.0-windows/Assets/EmployeeImages/07042022111259pm.jpg', NULL)
INSERT [dbo].[Emplyee] ([Id], [UserName], [Role], [City], [CNIC], [Adress], [Phone], [Isdeleted], [Createdon], [Password], [IsLoginAllowed], [Salary], [SalaryType], [Working Hours], [Image], [LoginName]) VALUES (2012, N'samar', 2, 4150, N'38402', N'dharema', N'0321', NULL, CAST(N'2022-04-05' AS Date), NULL, NULL, CAST(26000.000 AS Decimal(18, 3)), N'Monthly', NULL, N'file:///G:/EZYPOS/EZYPOS/EZYPOS/bin/Debug/net5.0-windows/Assets/EmployeeImages/05042022114332pm.jpg', NULL)
INSERT [dbo].[Emplyee] ([Id], [UserName], [Role], [City], [CNIC], [Adress], [Phone], [Isdeleted], [Createdon], [Password], [IsLoginAllowed], [Salary], [SalaryType], [Working Hours], [Image], [LoginName]) VALUES (2013, N'ali', 1, 4150, N'38603', N'dharema', N'0340', NULL, CAST(N'2022-04-06' AS Date), NULL, NULL, CAST(22000.000 AS Decimal(18, 3)), N'Monthly', NULL, N'file:///C:/Users/Sikandar Abbas/Desktop/100D3300/DSC_0250.JPG', NULL)
SET IDENTITY_INSERT [dbo].[Emplyee] OFF
GO
SET IDENTITY_INSERT [dbo].[Pages] ON 

INSERT [dbo].[Pages] ([Id], [PageName], [Tag], [ClickEvent], [Isclickable], [Template], [ParentId], [Name], [Icon]) VALUES (1, N'Test 2', N'EZYPOS.UserControls.UserControlListCustomer', NULL, 0, N'VsMenuTop', 0, NULL, NULL)
INSERT [dbo].[Pages] ([Id], [PageName], [Tag], [ClickEvent], [Isclickable], [Template], [ParentId], [Name], [Icon]) VALUES (2, N'test 3', N'EZYPOS.UserControls.UserControlListCustomer', NULL, 0, N'VsMenuSub', 1, NULL, NULL)
INSERT [dbo].[Pages] ([Id], [PageName], [Tag], [ClickEvent], [Isclickable], [Template], [ParentId], [Name], [Icon]) VALUES (3, N'test 4', N'EZYPOS.UserControls.UserControlListCustomer', NULL, 1, N'VsMenuSub', 2, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Pages] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductCategory] ON 

INSERT [dbo].[ProductCategory] ([Id], [Name], [Isdeleted], [Createdon]) VALUES (3012, N'kitchen', NULL, NULL)
INSERT [dbo].[ProductCategory] ([Id], [Name], [Isdeleted], [Createdon]) VALUES (3013, N'cosmatics', NULL, NULL)
SET IDENTITY_INSERT [dbo].[ProductCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductGroup] ON 

INSERT [dbo].[ProductGroup] ([id], [GroupName], [Isdeleted], [Createdon]) VALUES (1008, N'General group', NULL, NULL)
SET IDENTITY_INSERT [dbo].[ProductGroup] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [ProductName], [Barcode], [CategoryId], [SubcategoryId], [Isdeleted], [GroupId], [ShelfId], [RetailPrice], [Wholesaleprice], [PurchasePrice], [Lastupdated], [Createdby], [Createdon], [Size], [Unit], [TaxType], [Tax]) VALUES (2021, N'Head & Shoulder 500 ml', N'0011', 3013, 3017, NULL, 1008, 2008, CAST(500.250 AS Decimal(18, 3)), CAST(500.250 AS Decimal(18, 3)), CAST(400.150 AS Decimal(18, 3)), NULL, NULL, CAST(N'2022-03-30' AS Date), CAST(500.00 AS Decimal(18, 2)), 3, N'GST', CAST(2.000 AS Decimal(18, 3)))
INSERT [dbo].[Products] ([Id], [ProductName], [Barcode], [CategoryId], [SubcategoryId], [Isdeleted], [GroupId], [ShelfId], [RetailPrice], [Wholesaleprice], [PurchasePrice], [Lastupdated], [Createdby], [Createdon], [Size], [Unit], [TaxType], [Tax]) VALUES (2022, N'Lux 250g', N'002', 3013, 3018, NULL, NULL, NULL, CAST(125.300 AS Decimal(18, 3)), CAST(125.300 AS Decimal(18, 3)), CAST(80.100 AS Decimal(18, 3)), NULL, NULL, CAST(N'2022-03-24' AS Date), CAST(250.00 AS Decimal(18, 2)), 2, N'GST', CAST(2.000 AS Decimal(18, 3)))
INSERT [dbo].[Products] ([Id], [ProductName], [Barcode], [CategoryId], [SubcategoryId], [Isdeleted], [GroupId], [ShelfId], [RetailPrice], [Wholesaleprice], [PurchasePrice], [Lastupdated], [Createdby], [Createdon], [Size], [Unit], [TaxType], [Tax]) VALUES (2025, N'check', N'003', 3012, 3019, NULL, 1008, 2008, CAST(200.000 AS Decimal(18, 3)), CAST(250.000 AS Decimal(18, 3)), CAST(250.000 AS Decimal(18, 3)), NULL, NULL, CAST(N'2022-03-30' AS Date), CAST(1.25 AS Decimal(18, 2)), 1, N'GST', CAST(2.000 AS Decimal(18, 3)))
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductStock] ON 

INSERT [dbo].[ProductStock] ([Id], [ProductId], [StartDate], [ExpiryDate], [Qty], [Adjustment], [Conversion], [PurchaseOrderId]) VALUES (70083, 2021, CAST(N'2022-03-24' AS Date), CAST(N'2022-03-24' AS Date), 1, 0, 0, 5059)
INSERT [dbo].[ProductStock] ([Id], [ProductId], [StartDate], [ExpiryDate], [Qty], [Adjustment], [Conversion], [PurchaseOrderId]) VALUES (70084, 2022, CAST(N'2022-03-26' AS Date), CAST(N'2022-03-26' AS Date), 2, 0, 0, 5060)
INSERT [dbo].[ProductStock] ([Id], [ProductId], [StartDate], [ExpiryDate], [Qty], [Adjustment], [Conversion], [PurchaseOrderId]) VALUES (70085, 2025, CAST(N'2022-04-07' AS Date), CAST(N'2022-04-07' AS Date), 1, 0, 0, 5061)
SET IDENTITY_INSERT [dbo].[ProductStock] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductSubcategory] ON 

INSERT [dbo].[ProductSubcategory] ([id], [SubcategoryName], [CategoryId], [Isdeleted], [Createdon]) VALUES (3017, N'Shampoo', 3013, NULL, NULL)
INSERT [dbo].[ProductSubcategory] ([id], [SubcategoryName], [CategoryId], [Isdeleted], [Createdon]) VALUES (3018, N'Soap', 3013, NULL, NULL)
INSERT [dbo].[ProductSubcategory] ([id], [SubcategoryName], [CategoryId], [Isdeleted], [Createdon]) VALUES (3019, N'oil', 3012, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ProductSubcategory] OFF
GO
SET IDENTITY_INSERT [dbo].[Purchase_OrderDetail] ON 

INSERT [dbo].[Purchase_OrderDetail] ([Id], [itemName], [ProductId], [PurchasePrice], [SalePrice], [Qty], [StockId], [PurchaseOrderId], [ExpiryDate], [StartDate], [itemDiscount], [Total]) VALUES (7080, N'Head & Shoulder 500 ml', 2021, CAST(400.150 AS Decimal(18, 3)), NULL, 1, NULL, 5059, CAST(N'2022-03-24' AS Date), CAST(N'2022-03-24' AS Date), NULL, CAST(400.150 AS Decimal(18, 3)))
INSERT [dbo].[Purchase_OrderDetail] ([Id], [itemName], [ProductId], [PurchasePrice], [SalePrice], [Qty], [StockId], [PurchaseOrderId], [ExpiryDate], [StartDate], [itemDiscount], [Total]) VALUES (7081, N'Lux 250g', 2022, CAST(80.100 AS Decimal(18, 3)), NULL, 2, NULL, 5060, CAST(N'2022-03-26' AS Date), CAST(N'2022-03-26' AS Date), NULL, CAST(160.200 AS Decimal(18, 3)))
INSERT [dbo].[Purchase_OrderDetail] ([Id], [itemName], [ProductId], [PurchasePrice], [SalePrice], [Qty], [StockId], [PurchaseOrderId], [ExpiryDate], [StartDate], [itemDiscount], [Total]) VALUES (7082, N'check', 2025, CAST(250.000 AS Decimal(18, 3)), NULL, 1, NULL, 5061, CAST(N'2022-04-07' AS Date), CAST(N'2022-04-07' AS Date), CAST(3.300 AS Decimal(18, 3)), CAST(250.000 AS Decimal(18, 3)))
SET IDENTITY_INSERT [dbo].[Purchase_OrderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[PurchaseOrder] ON 

INSERT [dbo].[PurchaseOrder] ([Id], [SupplierId], [EmployeeId], [UserId], [Date], [PaymentStatus], [PaymentMode], [Discount], [DeliveryCharges], [TotalAmount]) VALUES (5059, 3006, 2011, NULL, CAST(N'2022-03-24' AS Date), N'Paid', N'CASH', CAST(0.000 AS Decimal(18, 3)), CAST(0.000 AS Decimal(18, 3)), CAST(400.150 AS Decimal(18, 3)))
INSERT [dbo].[PurchaseOrder] ([Id], [SupplierId], [EmployeeId], [UserId], [Date], [PaymentStatus], [PaymentMode], [Discount], [DeliveryCharges], [TotalAmount]) VALUES (5060, 3006, 2011, NULL, CAST(N'2022-03-26' AS Date), N'Paid', N'CASH', CAST(0.000 AS Decimal(18, 3)), CAST(0.000 AS Decimal(18, 3)), CAST(139.850 AS Decimal(18, 3)))
INSERT [dbo].[PurchaseOrder] ([Id], [SupplierId], [EmployeeId], [UserId], [Date], [PaymentStatus], [PaymentMode], [Discount], [DeliveryCharges], [TotalAmount]) VALUES (5061, 3006, 2011, NULL, CAST(N'2022-04-07' AS Date), N'Paid', N'CASH', CAST(0.000 AS Decimal(18, 3)), CAST(0.000 AS Decimal(18, 3)), CAST(723.650 AS Decimal(18, 3)))
SET IDENTITY_INSERT [dbo].[PurchaseOrder] OFF
GO
SET IDENTITY_INSERT [dbo].[Sale_OrderDetail] ON 

INSERT [dbo].[Sale_OrderDetail] ([id], [order_id], [item_id], [item_name], [fixed_item_des], [sub_cat_id], [sub_cat_name], [cat_name], [print_sort], [kitchen_lines], [item_comments], [item_qty], [itemDiscount], [item_price], [PurchasePrice], [TaxType], [ItemTax], [item_index], [bill_no], [is_updated], [is_deleted], [POSId]) VALUES (7123, 7124, 2021, N'Head & Shoulder 500 ml', NULL, NULL, NULL, NULL, 0, 1, NULL, 1, CAST(0.000 AS Decimal(18, 3)), CAST(500.250 AS Decimal(18, 3)), CAST(400.150 AS Decimal(18, 3)), N'GST', CAST(0.000 AS Decimal(18, 3)), 1, NULL, N'', 0, NULL)
INSERT [dbo].[Sale_OrderDetail] ([id], [order_id], [item_id], [item_name], [fixed_item_des], [sub_cat_id], [sub_cat_name], [cat_name], [print_sort], [kitchen_lines], [item_comments], [item_qty], [itemDiscount], [item_price], [PurchasePrice], [TaxType], [ItemTax], [item_index], [bill_no], [is_updated], [is_deleted], [POSId]) VALUES (7124, 7125, 2025, N'check', NULL, NULL, NULL, NULL, 0, 1, NULL, 1, CAST(3.300 AS Decimal(18, 3)), CAST(200.000 AS Decimal(18, 3)), CAST(250.000 AS Decimal(18, 3)), N'GST', CAST(0.000 AS Decimal(18, 3)), 1, NULL, N'', 0, NULL)
INSERT [dbo].[Sale_OrderDetail] ([id], [order_id], [item_id], [item_name], [fixed_item_des], [sub_cat_id], [sub_cat_name], [cat_name], [print_sort], [kitchen_lines], [item_comments], [item_qty], [itemDiscount], [item_price], [PurchasePrice], [TaxType], [ItemTax], [item_index], [bill_no], [is_updated], [is_deleted], [POSId]) VALUES (7125, 7125, 2022, N'Lux 250g', NULL, NULL, NULL, NULL, 0, 1, NULL, 1, CAST(2.200 AS Decimal(18, 3)), CAST(125.300 AS Decimal(18, 3)), CAST(80.100 AS Decimal(18, 3)), N'GST', CAST(0.000 AS Decimal(18, 3)), 1, NULL, N'', 0, NULL)
SET IDENTITY_INSERT [dbo].[Sale_OrderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Sale_Orders] ON 

SET IDENTITY_INSERT [dbo].[Sale_Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Setting] ON 

INSERT [dbo].[Setting] ([id], [AppKey], [AppValue]) VALUES (1, N'PrintInvoice', N'False')
INSERT [dbo].[Setting] ([id], [AppKey], [AppValue]) VALUES (2, N'PrintLogo', N'True')
INSERT [dbo].[Setting] ([id], [AppKey], [AppValue]) VALUES (3, N'ShopName', N'Eat & Repeat')
SET IDENTITY_INSERT [dbo].[Setting] OFF
GO
SET IDENTITY_INSERT [dbo].[Stock_OderDetail] ON 

INSERT [dbo].[Stock_OderDetail] ([Id], [StockId], [OrderDetail_Id], [Qty], [ProductId], [OrderId]) VALUES (70127, 70083, 7123, 1, 2021, 7124)
INSERT [dbo].[Stock_OderDetail] ([Id], [StockId], [OrderDetail_Id], [Qty], [ProductId], [OrderId]) VALUES (70128, 70085, 7124, 1, 2025, 7125)
INSERT [dbo].[Stock_OderDetail] ([Id], [StockId], [OrderDetail_Id], [Qty], [ProductId], [OrderId]) VALUES (70129, 70084, 7124, 1, 2022, 7125)
GO
SET IDENTITY_INSERT [dbo].[Stock_OderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[StockLead] ON 

INSERT [dbo].[StockLead] ([Id], [Transaction_id], [Transaction_date], [Transaction_type], [Transaction_detail], [Product_id], [DR_qty], [CR_qty], [User_id], [POS_id], [PaymentMode], [Is_Deleted]) VALUES (9092, 5059, CAST(N'2022-03-24' AS Date), N'PurchaseInvoice', N'Purchase Transaction against Invoice Number # 5059', 2021, CAST(1.00 AS Numeric(18, 2)), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[StockLead] ([Id], [Transaction_id], [Transaction_date], [Transaction_type], [Transaction_detail], [Product_id], [DR_qty], [CR_qty], [User_id], [POS_id], [PaymentMode], [Is_Deleted]) VALUES (9093, 5060, CAST(N'2022-03-26' AS Date), N'PurchaseInvoice', N'Purchase Transaction against Invoice Number # 5060', 2022, CAST(2.00 AS Numeric(18, 2)), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[StockLead] ([Id], [Transaction_id], [Transaction_date], [Transaction_type], [Transaction_detail], [Product_id], [DR_qty], [CR_qty], [User_id], [POS_id], [PaymentMode], [Is_Deleted]) VALUES (9094, 7123, CAST(N'2022-03-26' AS Date), N'SaleInvoice', N'Sale Transaction against Invoice Number # 7123', 2022, NULL, CAST(1.00 AS Numeric(18, 2)), NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[StockLead] OFF
GO
SET IDENTITY_INSERT [dbo].[Supplier] ON 

INSERT [dbo].[Supplier] ([Id], [Name], [PhoneNo], [Adress], [City], [MobileNo], [Createdon]) VALUES (3006, N'Default Supplier', N'0300', N'sargodha', 4151, N'0345', CAST(N'2022-02-25T00:00:00.000' AS DateTime))
INSERT [dbo].[Supplier] ([Id], [Name], [PhoneNo], [Adress], [City], [MobileNo], [Createdon]) VALUES (3009, N'check', N'03000', N'sargodha', 4150, N'0331', CAST(N'2022-04-09T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Supplier] OFF
GO
SET IDENTITY_INSERT [dbo].[SupplierLead] ON 

INSERT [dbo].[SupplierLead] ([Id], [Suplier_id], [Transaction_id], [Transaction_type], [Transaction_det], [DR], [CR], [Transaction_date]) VALUES (6050, 3006, 5059, N'PurchaseInvoice', N'CASH Purchase Order No: 5059
Head & Shoulder 500 ml:  1 * 400.150 = 400.150
Total Amount: 400.150
', CAST(400.150 AS Decimal(18, 3)), NULL, CAST(N'2022-03-24' AS Date))
INSERT [dbo].[SupplierLead] ([Id], [Suplier_id], [Transaction_id], [Transaction_type], [Transaction_det], [DR], [CR], [Transaction_date]) VALUES (6051, 3006, 5059, N'PurchaseInvoice', N'Cash Purchase Order No: 5059
Head & Shoulder 500 ml:  1 * 400.150 = 400.150
Total Amount: 400.150
', NULL, CAST(400.150 AS Decimal(18, 3)), CAST(N'2022-03-24' AS Date))
INSERT [dbo].[SupplierLead] ([Id], [Suplier_id], [Transaction_id], [Transaction_type], [Transaction_det], [DR], [CR], [Transaction_date]) VALUES (6052, 3006, 5060, N'PurchaseInvoice', N'CASH Purchase Order No: 5060
Lux 250g:  2 * 80.100 = 160.200
Total Amount: 139.850
', CAST(139.850 AS Decimal(18, 3)), NULL, CAST(N'2022-03-26' AS Date))
SET IDENTITY_INSERT [dbo].[SupplierLead] OFF
GO
SET IDENTITY_INSERT [dbo].[TblShelf] ON 

INSERT [dbo].[TblShelf] ([Id], [ShelfName], [ShelfCode]) VALUES (2008, N'shelf 1', N'111')
SET IDENTITY_INSERT [dbo].[TblShelf] OFF
GO
SET IDENTITY_INSERT [dbo].[Unit] ON 

INSERT [dbo].[Unit] ([id], [Name]) VALUES (1, N'KG')
INSERT [dbo].[Unit] ([id], [Name]) VALUES (2, N'G')
INSERT [dbo].[Unit] ([id], [Name]) VALUES (3, N'ML')
SET IDENTITY_INSERT [dbo].[Unit] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [Name], [UserName], [Password], [UserRole]) VALUES (1, N'ayaz', N'ayaz', N'ayaz', 1)
INSERT [dbo].[User] ([Id], [Name], [UserName], [Password], [UserRole]) VALUES (2, N'sikandar', N'sikandar', N'sikandar', 2)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[UserPages] ON 

INSERT [dbo].[UserPages] ([Id], [UserId], [PageId]) VALUES (11, 2012, 1)
INSERT [dbo].[UserPages] ([Id], [UserId], [PageId]) VALUES (12, 2012, 2)
INSERT [dbo].[UserPages] ([Id], [UserId], [PageId]) VALUES (13, 2013, 3)
SET IDENTITY_INSERT [dbo].[UserPages] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRole] ON 

INSERT [dbo].[UserRole] ([Id], [Name]) VALUES (1, N'Admin')
INSERT [dbo].[UserRole] ([Id], [Name]) VALUES (2, N'Employee')
SET IDENTITY_INSERT [dbo].[UserRole] OFF
GO
ALTER TABLE [dbo].[Account] ADD  CONSTRAINT [DF_Account_Isdeleted]  DEFAULT ((0)) FOR [Isdeleted]
GO
ALTER TABLE [dbo].[CashBookLead] ADD  CONSTRAINT [DF_CashBookLead_Is_Deleted]  DEFAULT ((0)) FOR [Is_Deleted]
GO
ALTER TABLE [dbo].[CustomerLead] ADD  CONSTRAINT [DF_CustomerLead_Is_Deleted]  DEFAULT ((0)) FOR [Is_Deleted]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_Unit]  DEFAULT ((0)) FOR [Unit]
GO
ALTER TABLE [dbo].[ProductStock] ADD  CONSTRAINT [DF_ProductStock_Adjustment]  DEFAULT ((0)) FOR [Adjustment]
GO
ALTER TABLE [dbo].[Sale_OrderDetail] ADD  CONSTRAINT [DF__Sale_Orde__fixed__4222D4EF]  DEFAULT (NULL) FOR [fixed_item_des]
GO
ALTER TABLE [dbo].[Sale_OrderDetail] ADD  CONSTRAINT [DF__Sale_Orde__sub_c__4316F928]  DEFAULT (NULL) FOR [sub_cat_id]
GO
ALTER TABLE [dbo].[Sale_OrderDetail] ADD  CONSTRAINT [DF__Sale_Orde__sub_c__440B1D61]  DEFAULT (NULL) FOR [sub_cat_name]
GO
ALTER TABLE [dbo].[Sale_OrderDetail] ADD  CONSTRAINT [DF__Sale_Orde__cat_n__44FF419A]  DEFAULT (NULL) FOR [cat_name]
GO
ALTER TABLE [dbo].[Sale_OrderDetail] ADD  CONSTRAINT [DF__Sale_Orde__print__45F365D3]  DEFAULT ('0') FOR [print_sort]
GO
ALTER TABLE [dbo].[Sale_OrderDetail] ADD  CONSTRAINT [DF__Sale_Orde__kitch__46E78A0C]  DEFAULT ('0') FOR [kitchen_lines]
GO
ALTER TABLE [dbo].[Sale_OrderDetail] ADD  CONSTRAINT [DF__Sale_Orde__item___47DBAE45]  DEFAULT (NULL) FOR [item_comments]
GO
ALTER TABLE [dbo].[Sale_OrderDetail] ADD  CONSTRAINT [DF__Sale_Orde__item___48CFD27E]  DEFAULT ('0') FOR [item_price]
GO
ALTER TABLE [dbo].[Sale_OrderDetail] ADD  CONSTRAINT [DF__Sale_Orde__bill___49C3F6B7]  DEFAULT (NULL) FOR [bill_no]
GO
ALTER TABLE [dbo].[Sale_OrderDetail] ADD  CONSTRAINT [DF__Sale_Orde__is_up__4AB81AF0]  DEFAULT ('no') FOR [is_updated]
GO
ALTER TABLE [dbo].[Sale_OrderDetail] ADD  CONSTRAINT [DF__Sale_Orde__is_de__4BAC3F29]  DEFAULT ((0)) FOR [is_deleted]
GO
ALTER TABLE [dbo].[Sale_Orders] ADD  CONSTRAINT [DF__Sale_Orde__order__4CA06362]  DEFAULT (NULL) FOR [order_date]
GO
ALTER TABLE [dbo].[Sale_Orders] ADD  CONSTRAINT [DF__Sale_Orde__coupo__4D94879B]  DEFAULT (NULL) FOR [coupon]
GO
ALTER TABLE [dbo].[Sale_Orders] ADD  CONSTRAINT [DF__Sale_Orde__coupo__4E88ABD4]  DEFAULT (NULL) FOR [coupon_value]
GO
ALTER TABLE [dbo].[Sale_Orders] ADD  CONSTRAINT [DF__Sale_Orde__coupo__4F7CD00D]  DEFAULT (NULL) FOR [coupon_type]
GO
ALTER TABLE [dbo].[Sale_Orders] ADD  CONSTRAINT [DF__Sale_Orde__coupo__5070F446]  DEFAULT (NULL) FOR [coupon_applies_to]
GO
ALTER TABLE [dbo].[Sale_Orders] ADD  CONSTRAINT [DF__Sale_Orde__coupo__5165187F]  DEFAULT (NULL) FOR [coupon_categories]
GO
ALTER TABLE [dbo].[Sale_Orders] ADD  CONSTRAINT [DF__Sale_Orde__disco__52593CB8]  DEFAULT (NULL) FOR [discount_amount]
GO
ALTER TABLE [dbo].[Sale_Orders] ADD  CONSTRAINT [DF__Sale_Orde__disco__534D60F1]  DEFAULT (NULL) FOR [discount_desc]
GO
ALTER TABLE [dbo].[Sale_Orders] ADD  CONSTRAINT [DF__Sale_Orde__payme__5441852A]  DEFAULT ('cash') FOR [payment_mode]
GO
ALTER TABLE [dbo].[Sale_Orders] ADD  CONSTRAINT [DF__Sale_Orde__payme__5535A963]  DEFAULT ('cash') FOR [payment_status]
GO
ALTER TABLE [dbo].[Sale_Orders] ADD  CONSTRAINT [DF__Sale_Orde__custo__571DF1D5]  DEFAULT (NULL) FOR [customer_id]
GO
ALTER TABLE [dbo].[Sale_Orders] ADD  CONSTRAINT [DF_Sale_Orders_is_updated]  DEFAULT ((0)) FOR [is_updated]
GO
ALTER TABLE [dbo].[Sale_Orders] ADD  CONSTRAINT [DF_Sale_Orders_is_deleted]  DEFAULT ((0)) FOR [is_deleted]
GO
ALTER TABLE [dbo].[Sale_Orders] ADD  CONSTRAINT [DF_Sale_Orders_Is_Printed]  DEFAULT ((0)) FOR [Is_Printed]
GO
ALTER TABLE [dbo].[Sale_Orders] ADD  CONSTRAINT [DF__Sale_Orde__Servi__59FA5E80]  DEFAULT (NULL) FOR [Service_Charge]
GO
ALTER TABLE [dbo].[StockLead] ADD  CONSTRAINT [DF_StockLead_Is_Deleted]  DEFAULT ((0)) FOR [Is_Deleted]
GO
ALTER TABLE [dbo].[AdvancedSalary]  WITH CHECK ADD  CONSTRAINT [FK_AdvancedSalary_Emplyee] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Emplyee] ([Id])
GO
ALTER TABLE [dbo].[AdvancedSalary] CHECK CONSTRAINT [FK_AdvancedSalary_Emplyee]
GO
ALTER TABLE [dbo].[AdvancedSalary]  WITH CHECK ADD  CONSTRAINT [FK_AdvancedSalary_Emplyee1] FOREIGN KEY([PayedBy])
REFERENCES [dbo].[Emplyee] ([Id])
GO
ALTER TABLE [dbo].[AdvancedSalary] CHECK CONSTRAINT [FK_AdvancedSalary_Emplyee1]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_City] FOREIGN KEY([City])
REFERENCES [dbo].[City] ([Id])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_City]
GO
ALTER TABLE [dbo].[CustomerDRNote]  WITH CHECK ADD  CONSTRAINT [FK_CustomerDRNote_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([Id])
GO
ALTER TABLE [dbo].[CustomerDRNote] CHECK CONSTRAINT [FK_CustomerDRNote_Customer]
GO
ALTER TABLE [dbo].[CustomerDRNote]  WITH CHECK ADD  CONSTRAINT [FK_CustomerDRNote_Emplyee] FOREIGN KEY([ReceivedBy])
REFERENCES [dbo].[Emplyee] ([Id])
GO
ALTER TABLE [dbo].[CustomerDRNote] CHECK CONSTRAINT [FK_CustomerDRNote_Emplyee]
GO
ALTER TABLE [dbo].[CustomerReceipt]  WITH CHECK ADD  CONSTRAINT [FK_CustomerReceipt_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([Id])
GO
ALTER TABLE [dbo].[CustomerReceipt] CHECK CONSTRAINT [FK_CustomerReceipt_Customer]
GO
ALTER TABLE [dbo].[CustomerReceipt]  WITH CHECK ADD  CONSTRAINT [FK_CustomerReceipt_Emplyee] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Emplyee] ([Id])
GO
ALTER TABLE [dbo].[CustomerReceipt] CHECK CONSTRAINT [FK_CustomerReceipt_Emplyee]
GO
ALTER TABLE [dbo].[CustomerReceipt]  WITH CHECK ADD  CONSTRAINT [FK_CustomerReceipt_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[CustomerReceipt] CHECK CONSTRAINT [FK_CustomerReceipt_User]
GO
ALTER TABLE [dbo].[Emplyee]  WITH CHECK ADD  CONSTRAINT [FK_Emplyee_City] FOREIGN KEY([City])
REFERENCES [dbo].[City] ([Id])
GO
ALTER TABLE [dbo].[Emplyee] CHECK CONSTRAINT [FK_Emplyee_City]
GO
ALTER TABLE [dbo].[Emplyee]  WITH CHECK ADD  CONSTRAINT [FK_Emplyee_Emplyee] FOREIGN KEY([Id])
REFERENCES [dbo].[Emplyee] ([Id])
GO
ALTER TABLE [dbo].[Emplyee] CHECK CONSTRAINT [FK_Emplyee_Emplyee]
GO
ALTER TABLE [dbo].[Emplyee]  WITH CHECK ADD  CONSTRAINT [FK_Emplyee_UserRole] FOREIGN KEY([Role])
REFERENCES [dbo].[UserRole] ([Id])
GO
ALTER TABLE [dbo].[Emplyee] CHECK CONSTRAINT [FK_Emplyee_UserRole]
GO
ALTER TABLE [dbo].[ExpenceTransaction]  WITH CHECK ADD  CONSTRAINT [FK_ExpenceTransaction_Emplyee] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Emplyee] ([Id])
GO
ALTER TABLE [dbo].[ExpenceTransaction] CHECK CONSTRAINT [FK_ExpenceTransaction_Emplyee]
GO
ALTER TABLE [dbo].[ExpenceTransaction]  WITH CHECK ADD  CONSTRAINT [FK_ExpenceTransaction_ExpenceType] FOREIGN KEY([ExpenceType])
REFERENCES [dbo].[ExpenceType] ([Id])
GO
ALTER TABLE [dbo].[ExpenceTransaction] CHECK CONSTRAINT [FK_ExpenceTransaction_ExpenceType]
GO
ALTER TABLE [dbo].[ExpenceTransaction]  WITH CHECK ADD  CONSTRAINT [FK_ExpenceTransaction_User] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[ExpenceTransaction] CHECK CONSTRAINT [FK_ExpenceTransaction_User]
GO
ALTER TABLE [dbo].[ProductCategory]  WITH CHECK ADD  CONSTRAINT [FK_ProductCategory_ProductCategory] FOREIGN KEY([Id])
REFERENCES [dbo].[ProductCategory] ([Id])
GO
ALTER TABLE [dbo].[ProductCategory] CHECK CONSTRAINT [FK_ProductCategory_ProductCategory]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_ProductCategory] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[ProductCategory] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_ProductCategory]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_ProductGroup] FOREIGN KEY([GroupId])
REFERENCES [dbo].[ProductGroup] ([id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_ProductGroup]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_ProductSubcategory] FOREIGN KEY([SubcategoryId])
REFERENCES [dbo].[ProductSubcategory] ([id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_ProductSubcategory]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_TblShelf] FOREIGN KEY([ShelfId])
REFERENCES [dbo].[TblShelf] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_TblShelf]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Unit] FOREIGN KEY([Unit])
REFERENCES [dbo].[Unit] ([id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Unit]
GO
ALTER TABLE [dbo].[ProductStock]  WITH CHECK ADD  CONSTRAINT [FK_ProductStock_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[ProductStock] CHECK CONSTRAINT [FK_ProductStock_Products]
GO
ALTER TABLE [dbo].[ProductStock]  WITH CHECK ADD  CONSTRAINT [FK_ProductStock_PurchaseOrder] FOREIGN KEY([PurchaseOrderId])
REFERENCES [dbo].[PurchaseOrder] ([Id])
GO
ALTER TABLE [dbo].[ProductStock] CHECK CONSTRAINT [FK_ProductStock_PurchaseOrder]
GO
ALTER TABLE [dbo].[ProductSubcategory]  WITH CHECK ADD  CONSTRAINT [FK_ProductSubcategory_ProductCategory] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[ProductCategory] ([Id])
GO
ALTER TABLE [dbo].[ProductSubcategory] CHECK CONSTRAINT [FK_ProductSubcategory_ProductCategory]
GO
ALTER TABLE [dbo].[PurchaseOrder]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseOrder_Emplyee] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Emplyee] ([Id])
GO
ALTER TABLE [dbo].[PurchaseOrder] CHECK CONSTRAINT [FK_PurchaseOrder_Emplyee]
GO
ALTER TABLE [dbo].[PurchaseOrder]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseOrder_Supplier] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Supplier] ([Id])
GO
ALTER TABLE [dbo].[PurchaseOrder] CHECK CONSTRAINT [FK_PurchaseOrder_Supplier]
GO
ALTER TABLE [dbo].[PurchaseOrder]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseOrder_Unit] FOREIGN KEY([UserId])
REFERENCES [dbo].[Unit] ([id])
GO
ALTER TABLE [dbo].[PurchaseOrder] CHECK CONSTRAINT [FK_PurchaseOrder_Unit]
GO
ALTER TABLE [dbo].[Sale_OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_Sale_OrderDetail_Sale_Orders] FOREIGN KEY([order_id])
REFERENCES [dbo].[Sale_Orders] ([id])
GO
ALTER TABLE [dbo].[Sale_OrderDetail] CHECK CONSTRAINT [FK_Sale_OrderDetail_Sale_Orders]
GO
ALTER TABLE [dbo].[Sale_Orders]  WITH CHECK ADD  CONSTRAINT [FK_Sale_Orders_Customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([Id])
GO
ALTER TABLE [dbo].[Sale_Orders] CHECK CONSTRAINT [FK_Sale_Orders_Customer]
GO
ALTER TABLE [dbo].[Sale_Orders]  WITH CHECK ADD  CONSTRAINT [FK_Sale_Orders_Emplyee] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Emplyee] ([Id])
GO
ALTER TABLE [dbo].[Sale_Orders] CHECK CONSTRAINT [FK_Sale_Orders_Emplyee]
GO
ALTER TABLE [dbo].[Sale_Orders]  WITH CHECK ADD  CONSTRAINT [FK_Sale_Orders_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Sale_Orders] CHECK CONSTRAINT [FK_Sale_Orders_User]
GO
ALTER TABLE [dbo].[Stock_OderDetail]  WITH CHECK ADD  CONSTRAINT [FK_Stock_OderDetail_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[Stock_OderDetail] CHECK CONSTRAINT [FK_Stock_OderDetail_Products]
GO
ALTER TABLE [dbo].[Stock_OderDetail]  WITH NOCHECK ADD  CONSTRAINT [FK_Stock_OderDetail_ProductStock] FOREIGN KEY([StockId])
REFERENCES [dbo].[ProductStock] ([Id])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[Stock_OderDetail] CHECK CONSTRAINT [FK_Stock_OderDetail_ProductStock]
GO
ALTER TABLE [dbo].[Stock_OderDetail]  WITH CHECK ADD  CONSTRAINT [FK_Stock_OderDetail_Sale_OrderDetail] FOREIGN KEY([OrderDetail_Id])
REFERENCES [dbo].[Sale_OrderDetail] ([id])
GO
ALTER TABLE [dbo].[Stock_OderDetail] CHECK CONSTRAINT [FK_Stock_OderDetail_Sale_OrderDetail]
GO
ALTER TABLE [dbo].[StockLead]  WITH CHECK ADD  CONSTRAINT [FK_StockLead_Products] FOREIGN KEY([Product_id])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[StockLead] CHECK CONSTRAINT [FK_StockLead_Products]
GO
ALTER TABLE [dbo].[Supplier]  WITH CHECK ADD  CONSTRAINT [FK_Supplier_City] FOREIGN KEY([City])
REFERENCES [dbo].[City] ([Id])
GO
ALTER TABLE [dbo].[Supplier] CHECK CONSTRAINT [FK_Supplier_City]
GO
ALTER TABLE [dbo].[SupplierCRNote]  WITH CHECK ADD  CONSTRAINT [FK_SupplierCRNote_Emplyee] FOREIGN KEY([PayedBy])
REFERENCES [dbo].[Emplyee] ([Id])
GO
ALTER TABLE [dbo].[SupplierCRNote] CHECK CONSTRAINT [FK_SupplierCRNote_Emplyee]
GO
ALTER TABLE [dbo].[SupplierCRNote]  WITH CHECK ADD  CONSTRAINT [FK_SupplierCRNote_Supplier] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Supplier] ([Id])
GO
ALTER TABLE [dbo].[SupplierCRNote] CHECK CONSTRAINT [FK_SupplierCRNote_Supplier]
GO
ALTER TABLE [dbo].[SupplierLead]  WITH CHECK ADD  CONSTRAINT [FK_SupplierLead_Supplier] FOREIGN KEY([Suplier_id])
REFERENCES [dbo].[Supplier] ([Id])
GO
ALTER TABLE [dbo].[SupplierLead] CHECK CONSTRAINT [FK_SupplierLead_Supplier]
GO
ALTER TABLE [dbo].[SupplierPayment]  WITH CHECK ADD  CONSTRAINT [FK_SupplierPayment_Emplyee] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Emplyee] ([Id])
GO
ALTER TABLE [dbo].[SupplierPayment] CHECK CONSTRAINT [FK_SupplierPayment_Emplyee]
GO
ALTER TABLE [dbo].[SupplierPayment]  WITH CHECK ADD  CONSTRAINT [FK_SupplierPayment_Supplier] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Supplier] ([Id])
GO
ALTER TABLE [dbo].[SupplierPayment] CHECK CONSTRAINT [FK_SupplierPayment_Supplier]
GO
ALTER TABLE [dbo].[SupplierPayment]  WITH CHECK ADD  CONSTRAINT [FK_SupplierPayment_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[SupplierPayment] CHECK CONSTRAINT [FK_SupplierPayment_User]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_UserRole] FOREIGN KEY([UserRole])
REFERENCES [dbo].[UserRole] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_UserRole]
GO
/****** Object:  StoredProcedure [dbo].[GetStockDetail]    Script Date: 14/06/2022 7:05:41 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetStockDetail]

	@QtyTosettle int,
	@ProductId int	
AS
BEGIN
	
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	Select * From ProductStock;
	
END
GO
USE [master]
GO
